My workflow 2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsMistralCloud",
      "typeVersion": 1,
      "position": [
        192,
        320
      ],
      "id": "eeb5ccb0-732f-46b2-8f25-4083962d797b",
      "name": "Embeddings Mistral Cloud",
      "credentials": {
        "mistralCloudApi": {
          "id": "rfGx9kETv5y7Ad5I",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Используй эту базу знаний для ответов на вопросы пользователя",
        "memoryKey": {
          "__rl": true,
          "value": "={{ 'doc_' + $json.sessionId }}",
          "mode": "id"
        },
        "topK": 70
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1536,
        224
      ],
      "id": "132cacc3-9c5e-42a2-bc9b-b21154049c9d",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "={{ 'doc_' + $json.body.sessionId }}",
          "mode": "id"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        192,
        0
      ],
      "id": "0138802d-4a01-4c20-95c9-59bb5fb50bec",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Ты доктор наук который имеет колоссальный опыт в работе с информацией и выделением важных тезисов и сутийных вещей.  ",
          "maxIterations": 2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1296,
        352
      ],
      "id": "62392108-ca05-4df9-b5e7-fa2bdbe8f9a8",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "model": "mistral-medium",
        "options": {
          "maxTokens": 500,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1232,
        544
      ],
      "id": "1a443080-cf63-4063-bf9f-256c442fd7ac",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "rfGx9kETv5y7Ad5I",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        704,
        528
      ],
      "id": "16f54b02-a16c-4938-96bd-1710d74e6356",
      "name": "Telegram Trigger",
      "webhookId": "58cf7ca4-1480-4a99-ba7c-b7aa257b5778",
      "credentials": {
        "telegramApi": {
          "id": "amtl8XQCNgcABwKk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1648,
        416
      ],
      "id": "5d4f9710-a9f1-4dfd-8497-1714233516b1",
      "name": "Send a text message",
      "webhookId": "53e9f477-e3a7-45f1-b11d-652a985a0629",
      "credentials": {
        "telegramApi": {
          "id": "amtl8XQCNgcABwKk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "a56f9b44-0d73-4070-989d-8c6ae57854fe"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "cad6a8b3-9437-4e92-b26b-a044cd675db2",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        880,
        528
      ],
      "id": "e33c9183-9482-44cc-a64b-e0a53e26082f",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1296,
        688
      ],
      "id": "b1615f95-4253-4cc4-bf4b-debe0a41ca1e",
      "name": "Get a file",
      "webhookId": "1e864416-c159-4ffd-88a6-bb69fde08b49",
      "credentials": {
        "telegramApi": {
          "id": "amtl8XQCNgcABwKk",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        1424,
        688
      ],
      "id": "a70d38f1-5b39-422b-a2bc-96a3d2747d3f",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "CC6yzprb4VhQFCFj",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1168,
        352
      ],
      "id": "afd034f0-0a06-4838-8f81-104385ced736",
      "name": "Merge"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-doc",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "4ac1974d-0aca-4364-894a-cb2237fab87e",
      "name": "Webhook",
      "webhookId": "4fcc44c6-29df-4f68-8494-f58bab38e3c3"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "9200c5e3-b0ec-406b-b709-38661df105ce",
      "name": "Webhook1",
      "webhookId": "3dbac4fb-5c3b-4474-af83-35755c550fb8"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        0
      ],
      "id": "37dc5b82-11c3-4117-8301-484f83efd11b",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id.toString() }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1376,
        544
      ],
      "id": "38e30a9d-8f8b-4f14-a6f5-ca891c59f8cf",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0bac5594-8576-4c6f-ba96-814f0a4250e4",
              "name": "text",
              "value": "={{ $json.body.message }}",
              "type": "string"
            },
            {
              "id": "544ea9cb-5b39-4a40-b8d2-e646dc4a4bc3",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "88b32f36-f2fe-4daf-b286-82e32a685269",
              "name": "user",
              "value": "={{ $json.body.user }}",
              "type": "string"
            },
            {
              "id": "38aa1c73-253a-42d6-9612-04ea02ac4e5c",
              "name": "timestamp",
              "value": "={{ $json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "ace8821f-407a-4a04-bf13-14de7d7df99a",
              "name": "authHeader",
              "value": "={{ $json.headers.authorization || $json.headers.Authorization }}",
              "type": "string"
            },
            {
              "id": "2cfe515e-32d1-428a-a6b5-9a558ee60cc4",
              "name": "user_id",
              "value": "={{ $json.body.user }}",
              "type": "string"
            },
            {
              "id": "a920b97b-f039-44c5-ab72-396345f35a8c",
              "name": "hasAuth",
              "value": "={{ !!($json.headers.authorization || $json.headers.Authorization) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        944,
        0
      ],
      "id": "7ad21534-faf3-42c1-9ccf-217542ff8e2a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        1424,
        0
      ],
      "id": "7fd6ce44-b079-4962-9113-71f15beb8c14",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1360,
        160
      ],
      "id": "3825eb67-86b6-40e0-b3ed-86f27fe6a75d",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "rfGx9kETv5y7Ad5I",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        304,
        160
      ],
      "id": "ce0db88b-a9cb-4a80-808c-488c621c8812",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "db7e7dc4-10af-4486-9c51-76bb5a37fcaf",
              "leftValue": "={{ $json.hasAuth }}",
              "rightValue": "={{'true'}}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "8d41b36b-a84f-4a91-bf71-93553a2c9e0a",
              "leftValue": "user_id",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "6e176fee-9971-49e1-9805-daab46f87c41",
              "leftValue": "sessionId",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1104,
        0
      ],
      "id": "cf6e67d7-1a14-4ecd-ba5c-36df861dca44",
      "name": "If"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": false,\n  \"error\": \"Unauthorized or missing user_id\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        1824,
        144
      ],
      "id": "1f1d20da-aca5-4343-b044-dbf238e00d58",
      "name": "Respond to Webhook1"
    }
  ],
  "pinData": {
    "Telegram Trigger": [
      {
        "json": {
          "update_id": 333991946,
          "message": {
            "message_id": 9,
            "from": {
              "id": 1140629138,
              "is_bot": false,
              "first_name": "Daniel Molina",
              "username": "Danielukii",
              "language_code": "es"
            },
            "chat": {
              "id": 1140629138,
              "first_name": "Daniel Molina",
              "username": "Danielukii",
              "type": "private"
            },
            "date": 1776780452,
            "text": "привет"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Embeddings Mistral Cloud": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Simple Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "b769bb17-022b-415a-8d73-c77c9ec7d74f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4b919a7b28492c9c556744b761c1a6922a87b6fa65b65a5848cf17e21b232a9b"
  },
  "id": "PJS3xQCU7liRPtMc",
  "tags": []
}